<label>host url</label>
<input type="text" class="text" value="http://localhost:3000/" ng-model="hostURL" name="hostURL" id="hostURL" />
<input type="button" class="button" value="Set API Host" name="" ng-click="setHostURL();" />
<hr/>
<div style="background-color: #141414;">
    <div treecontrol class="tree-dark"
       tree-model="projectTree"
       options="treeOptions"
       on-selection="showSelected(node)"
       selected-node="node1">
       {{node.filepath}}
    </div>
</div>

<div ui-ace="{
  useWrapMode : true,
  showGutter: false,
  theme:'twilight',
  mode: 'xml',
  firstLineNumber: 5,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model="editorContent"></div>
<input type="button" class="button" value="Save" name="" ng-click="saveChanges();"/>
<input type="button" class="button" value="New File" name="" ng-click="saveNewFile();" />
<input type="text" class="text" value="" ng-model="newFilePath" name="" />
